.tal-btn-red{
  
  background: #D24B5E;
  color: #fff;
  border : none;

}

.tal-btn-grey{
  
  border : none;
}

.bg-img{
  
background-image: url("../img/essai.png");
background-repeat: no-repeat;
background-size: cover;

}

.hero-full
{
min-height:100vh;

  }

.espace-15
{
padding-top: 7.5%;
padding-bottom: auto;
  }
  .espace-3
{
padding-top: 3%;
padding-bottom: auto;
  }

.textewhite a { 

  color: #FFFFFF;
   }

#header.header-scrolled a {
  color: #F0566B;
}

#header.header-scrolled .signup  {
  color: #F0566B;
  border: 1px solid;
  background-color: #11ffee00;
  border-color:#F0566B;
}
.centre {
text-align: center; 
}

